<app-header></app-header>
<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 ">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-house"></i> หน้าหลัก
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-basket2"></i> สินค้าทั้งหมด
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/price" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-tag-fill"></i> ราคาเนื้อหมู
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-person-lines-fill"></i> ติดต่อเรา
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" style="color: black; border: 1px solid black; border-radius: 5px;">
          <i class="bi bi-person-rolodex"></i> เกี่ยวกับเรา
        </a>
      </li>
      
    </ul>
  </header>
</div>



<div class="container mt-4">
  <router-outlet></router-outlet>
</div>