<section class="hero">
      <div class="container">
          <h1>ยินดีต้อนรับสู่เว็บไซต์ขาย</h1>
          <h1>เนื้อหมูแช่แข็ง</h1>
          
      </div>
  </section>


  <section class="main-content">
      <div class="container">
          <h2>เกี่ยวกับหมู</h2>
          <p>
              หมูเป็นสัตว์ที่มีความสำคัญในระบบเกษตรกรรม หมูไม่เพียงเป็นแหล่งเนื้อที่สำคัญ แต่ยังเป็นสัตว์ที่มีบทบาทในวัฒนธรรมหลายๆ ที่
          </p>
      </div>
  </section>

  <app-product></app-product>
  <footer>
      <div class="container">
          <p>&copy; 2024 เว็บไซต์หมู. สงวนลิขสิทธิ์.</p>
      </div>
  </footer>

  